@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  background: white;
  z-index: 99;
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  margin-top: 1%;
  margin-left: 2%;
}

nav .nav-links {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .nav-links li {
  list-style: none;
}

nav .nav-links li a {
  font-weight: 500;
  color: #FF8E3C;
  margin: 20px;
  text-decoration: none;
}

.contenedor {
  font-family: 'Work Sans', sans-serif;
  position: absolute;
  top: 25%;
}

.contenedor .intro {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.contenedor .intro .intro-text {
  width: 60%;
}

.contenedor .intro .intro-text h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}

.contenedor .intro .intro-text p {
  margin-left: 2%;
  width: 60%;
}

.contenedor .intro .intro-text div {
  top: 230px;
  position: absolute;
  width: 2px;
  height: 30px;
  background: grey;
}

.contenedor .intro .intro-text .start-now {
  background: #F45D48;
  padding: 10px;
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  margin-left: 2%;
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contenedor .intro .intro-text .start-now:hover {
  cursor: pointer;
  background-color: #ff4128;
}

.contenedor .intro .intro-img {
  -webkit-transform: translate(-10%, -15%);
          transform: translate(-10%, -15%);
  width: 30%;
}

.contenedor .banner {
  background-color: rgba(128, 128, 128, 0.11);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
}

.contenedor .banner .proveedores,
.contenedor .banner .usuarios {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.contenedor .banner .proveedores img,
.contenedor .banner .usuarios img {
  width: 100%;
  -webkit-transform: translate(0, 16px);
          transform: translate(0, 16px);
}

.contenedor .banner .proveedores .number,
.contenedor .banner .usuarios .number {
  color: #D9376E;
}

.contenedor .banner .proveedores .img1 {
  background: #078080;
  margin-right: 20px;
  border-radius: 20px;
  width: 50%;
}

.contenedor .banner .proveedores .texto1 p {
  width: 80%;
}

.contenedor .banner .usuarios .img2 {
  background: #F45D48;
  margin-right: 20px;
  border-radius: 20px;
  width: 60%;
}

.contenedor .banner .usuarios .texto2 p {
  width: 80%;
}

.contenedor .delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor .delivery .card1 {
  border: 1px solid rgba(128, 128, 128, 0.349);
  /*  box-shadow: 2px 1px 7px 2px rgba(0, 0, 0, 0.137); */
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -20px;
}

.contenedor .delivery .card1 img {
  width: 230px;
}

.contenedor .delivery .card1 .triangle {
  z-index: -99;
  width: 350px;
  position: absolute;
  -webkit-transform: translate(-230px);
          transform: translate(-230px);
}

.contenedor .delivery .card1 .card-txt-1 {
  margin-left: 30px;
}

.contenedor .delivery .card1 .card-txt-1 p {
  width: 90%;
  text-align: justify;
}

.contenedor .delivery .card2,
.contenedor .delivery .card3,
.contenedor .delivery .card4 {
  border: 1px solid rgba(128, 128, 128, 0.349);
  /* box-shadow: 2px 1px 7px 2px rgba(0, 0, 0, 0.219); */
  width: 20%;
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenedor .delivery .card2 img,
.contenedor .delivery .card3 img,
.contenedor .delivery .card4 img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contenedor .delivery .card2 p,
.contenedor .delivery .card3 p,
.contenedor .delivery .card4 p {
  width: 90%;
  text-align: justify;
}

.contenedor .delivery .card-txt-2,
.contenedor .delivery .card-txt-3,
.contenedor .delivery .card-txt-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor .delivery .card2 .card-img-2 {
  background: #2BD3F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor .delivery .card3 .card-img-3 {
  background: #F1D90D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor .delivery .card4 .card-img-4 {
  background: #D6006C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */